* {
  background-color: black;
  color: white;
  list-style: none;
  text-decoration: none;
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  border: solid 1px silver;
}
.nav {
  height: 60px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.options {
  display: flex;
  justify-content: space-between;
}

.options h3 {
  padding-left: 30px;
  padding-right: 10px;
}

#data {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
#data img {
  width: 50%;
}
